@media only screen and (min-width:700px) {

    body {
        margin: 0;
        padding: 0;
    }

    .single_view {
        display: none;
    }

    .double_view {
        display: flex;
        justify-content: space-between;
    }

    .heading {
        font-size: 2.5rem;
        line-height: 2rem;
        margin: 50px 0px 0px 130px;
        font-family: 'Montserrat', sans-serif;
        color: #FF671F;
        font-weight: 900;
    }

    .india_img {
        width: 1000px;
        height: fit-content;
    }

    .left_view {
        width: 60vw !important;
    }

    .welcome_message {
        color: #2976c9;
        font-family: 'Montserrat', sans-serif;
        font-size: xx-large;
        margin: 60px 0px 0px 130px;
    }

    .caption {
        color: #046A38;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 0px 0px 130px;
        font-weight: 900;
    }

    .form_box {
        margin: 40px 0px 0px 130px;
    }

    .email {
        width: 500px;
    }

    .password {
        width: 500px;
    }

    .email_wrapper {
        margin-bottom: 25px;
    }

    .password_wrapper {
        margin-top: 25px;
    }

    .forgot_password {
        margin: 20px 0px 0px 0px;
        color: #2976c9;
    }

    .forgot_password:hover {
        cursor: pointer;
        font-size: 16.5px;
        font-weight: 400;
    }

    .sign_in {
        width: 400px;
        border-radius: 15px;
        margin-top: 20px;
        height: 50px;
        color: white;
        background-color: #2976c9;
        border: none;
        font-size: large;
    }

    .sign_in:hover {
        background-color: #8f5849;
        cursor: pointer;
    }

    .footer {
        background-color: #2976c9;
        margin-top: 50px;
        position: relative;
        bottom: 0;
        width: 100vw;
        height: 300px;
    }

    .copyright_container {
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .contact {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 0;
        color: white;
        font-family: sans-serif;
    }

    .contact:hover {
        color: slateblue;
        cursor: pointer;
    }
    
    .copyright {
        color: #8f5849;
    }

    .articles { 
        color: white;
        font-family: sans-serif;
        margin: 30px 0px 0px 0px;
        cursor: pointer;
    }

    .articles:hover { 
        color: slateblue;
    }

    .line1 {
        display: flex;
        justify-content: space-around;
    }

    .contact_header {
        margin-top: 40px;
    }

    .line2 {
        display: none;
    }

    .line3 { 
        display: none;
    }

    .arts { 
        display: none;
    }
}

@media only screen and (max-width:699px) {
    .india_img {
        display: flex;
        margin: auto;
        width: 90vw;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .double_view {
        display: none;
    }

    .welcome_message {
        color: #2976c9;
        font-family: 'Montserrat', sans-serif;
        font-size: xx-large;
        margin: 50px 0px 0px 20px;
    }

    .caption {
        color: #046A38;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 0px 0px 20px;
        font-weight: 900;
    }

    .form_box {
        margin: 40px 0px 0px 20px;
    }

    .email {
        width: 80vw;
    }

    .password {
        width: 80vw;
    }

    .email_wrapper {
        margin-bottom: 25px;
    }

    .password_wrapper {
        margin-top: 25px;
    }

    .forgot_password {
        margin: 20px 0px 0px 0px;
        color: #2976c9;
    }

    .forgot_password:hover {
        color: #2976c9;
        cursor: pointer;
        font-size: 16.5px;
    }

    .sign_in {
        width: 80vw;
        border-radius: 15px;
        margin-top: 20px;
        height: 50px;
        color: white;
        background-color: #2976c9;
        border: none;
        font-size: large;
    }

    .sign_in:hover {
        background-color: #8f5849;
        cursor: pointer;
    }

    .footer {
        background-color: #2976c9;
        position: relative;
        margin-top: 50px;
        bottom: 0;
        width: 100vw;
        height: 300px;
    }

    .copyright_container {
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .contact {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 0;
        color: white;
        font-family: sans-serif;
    }

    .contact:hover {
        color: slateblue;
        cursor: pointer;
    }
    
    .copyright {
        color: white; 
    }

    .articles { 
        display: none;
    }

    .articles:hover { 
        color: slateblue;
    }

    .line1 {
        display: none;
    }

    .contact_header {
        margin-top: 40px;
    }

    .line2 {
        display: flex;
        justify-content: space-around;
    }

    .line3 {
        display: flex;
        margin-top: 10px;
        justify-content: space-around;
    }

    .arts { 
        color: white;
        font-family: sans-serif;
        margin: 10px 0px 0px 0px;
        cursor: pointer;
    }

    .arts:hover { 
        color: slateblue;
    }

    .heading {
        font-size: 2.5rem;
        line-height: 2rem;
        margin: 50px 0px 0px 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: #FF671F;
    }
}


* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    overflow-x: hidden;
}
.topnav {
    min-width: 100vw;
    display: flex;
  }
  
  .spans {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Style the links inside the navigation bar */
  .topnav .span {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav .span:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav .active {
    background-color: #2976c9;
    color: white;
  }

  .btn {
    position: absolute;
    left: 92%;
    width: 100px;
    border-radius: 3px;
    height: 40px;
    margin-top: 3px;
    color: white;
    background-color: #2976c9;
    border: none;
    font-size: large;
  }

  .btn:hover {
    background-color: aqua;
    color:black;
  }